
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGBs</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
    <a href="agb">AGBs</a>
    <h1>Allgemeine Geschäftsbedingungen (AGBs) für die Nutzung der Dienstleistungen der Beispielbank</h1>
    
    <h2>1. Nutzung der Bankdienstleistungen</h2>
    <p>
        a. Die Dienstleistungen der Beispielbank dürfen nur gemäß den Bedingungen dieser Vereinbarung genutzt werden.<br>
        b. Die Kunden sind für die Sicherheit ihrer Zugangsdaten verantwortlich.
    </p>

    <h2>2. Gebühren</h2>
    <p>
        a. Die Beispielbank behält sich das Recht vor, Gebühren für bestimmte Dienstleistungen zu erheben.<br>
        b. Die aktuellen Gebühren sind auf der Website der Beispielbank verfügbar.
    </p>

    <h2>3. Haftung</h2>
    <p>
        a. Die Beispielbank haftet nicht für Verluste, die durch die unbefugte Nutzung von Kundenkonten entstehen.<br>
        b. Kunden haften für alle Transaktionen, die mit ihren Konten durchgeführt werden.
    </p>

    <h2>4. Änderungen der Bedingungen</h2>
    <p>
        a. Die Beispielbank behält sich das Recht vor, diese Bedingungen jederzeit zu ändern.<br>
        b. Kunden werden über Änderungen rechtzeitig informiert.
    </p>

    <h2>5. Gerichtsstand</h2>
    <p>
        a. Bei Streitigkeiten im Zusammenhang mit diesen Bedingungen ist das örtlich zuständige Gericht des Bankstandorts zuständig.
    </p>
</body>
</html>
